* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
  }
  
  .container {
    margin: 0 auto;
    padding: 2.5em;
    width: 50%;
    text-align: center; }
  
  table, td {
    border: 1px solid black;
  }
  
  table, th {
    background-color: lightblue;
    border: 1px solid black;
    font-weight: bold;
  }
  
  
  td {
    margin: 5px;
    padding: 5px;
  }
  
  h1 {
    text-align: center;
  }
  
  h2 {
    text-align: center;
  }